.results-count {
    text-align: center;
}

.user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;

    .user-list-item {
        margin: .5em;
        text-align: center;
        width: 105px;
        background: #333;

        img {
            padding-top: .15em;
            max-width: 100px;
            max-height: 100px;
        }
        .display-name {
            display: block;
            background: #333;
            color: white;
            padding: .2em;
            margin-top: -5px;
        }
    }
}