$body-background-color: #fff;
$body-link-color: #5fa1d3;
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    background-color: $body-background-color;
}

.main-container {
    width: 90vw;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

a, a:visited {
    text-decoration: none;
    color: $body-link-color;
}

.loading { 
    text-align: center;
    padding-top: 10%;
}

.switch-search {
    display: block;
    margin: 0 auto;
    background-color: $body-background-color;
    color: $body-link-color;
    border: none;
    cursor: pointer;
    
}