body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  background-color: #fff; }

.main-container {
  width: 90vw;
  margin: 0 auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

a, a:visited {
  text-decoration: none;
  color: #5fa1d3; }

.loading {
  text-align: center;
  padding-top: 10%; }

.switch-search {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #5fa1d3;
  border: none;
  cursor: pointer; }
