
.overlay {
    position: fixed;
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
}
.user-details-container {
    z-index: 5;
    position: fixed;
    top: 50%;  
    left: 50%; 

    transform: translate(-50%, -50%);

    background-color: #fff;
    border: 3px solid #333;
    width: 80vw;
    height: 85vh;

    .content {
        overflow: auto;
        height: 95%;
        padding: 1em;
        h1, h2, h3 {
            margin: 0;
        }

        .header {
            display: grid;
            grid-template-columns: 90% 1fr;
            justify-content: space-between
        }

        section {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            justify-content: flex-start;
            grid-column-gap: 1em;
        }

        li {
            padding-bottom: .4em;
        }

        .user-list {
            width: 100%;
        }

        .project-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li {
                margin: 0 1em;
                
            }
        }

        .stats-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background: #333;
            color: #fff;
            padding: .3em;
            li {
                margin: 0 1em;
                
            }
        }
    }
}

