.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.user-details-container {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 3px solid #333;
  width: 80vw;
  height: 85vh; }
  .user-details-container .content {
    overflow: auto;
    height: 95%;
    padding: 1em; }
    .user-details-container .content h1, .user-details-container .content h2, .user-details-container .content h3 {
      margin: 0; }
    .user-details-container .content .header {
      display: grid;
      grid-template-columns: 90% 1fr;
      justify-content: space-between; }
    .user-details-container .content section {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      justify-content: flex-start;
      grid-column-gap: 1em; }
    .user-details-container .content li {
      padding-bottom: .4em; }
    .user-details-container .content .user-list {
      width: 100%; }
    .user-details-container .content .project-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .user-details-container .content .project-list li {
        margin: 0 1em; }
    .user-details-container .content .stats-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background: #333;
      color: #fff;
      padding: .3em; }
      .user-details-container .content .stats-list li {
        margin: 0 1em; }
