.search-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    .label {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
    }

    .form-input {
        width: 50%;
        padding: .5em;
    }
}